@import 'spaces';
.skills{
    padding: $space_600;
    @media only screen and (max-width: 600px ) {padding: $space_500 $space_400;}
    .mt_300{
        margin-top: $space_300;
    }
    .card_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $space_100;
        @media only screen and (max-width: 1064px ) {grid-template-columns: 1fr 1fr;}
        @media only screen and (max-width: 480px ) {grid-template-columns: 1fr;}
        .card{
            padding: $space_200; 
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 4px;
        }
    }
}