@use "./spaces";
.skills {
  padding: spaces.$space_600;
  @media only screen and (max-width: 600px) {
    padding: spaces.$space_500 spaces.$space_400;
  }
  .experiences {
    margin-top: spaces.$space_300;
    @media print {
      padding-top: spaces.$space_650;
    }
  }
  .card_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: spaces.$space_100;
    @media only screen and (max-width: 1064px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 480px) {
      grid-template-columns: 1fr;
    }
    .card {
      padding: spaces.$space_200;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius: 4px;
      @media print {
        box-shadow: 0 0 0 1px black;
      }
    }
    @media print {
      page-break-inside: avoid;
    }
  }
}
