// spacing variables
$space_50: 0.5rem; /* 8px */
$space_100: 1rem; /* 16px */
$space_200: 1.5rem; /* 24px */
$space_300: 2rem; /* 32px */
$space_400: 2.5rem; /* 40px */
$space_500: 3rem; /* 48px */
$space_600: 3.75rem; /* 60px */
$space_650: 5rem;
$space_700: 7rem;
